/*******************************************************************************
 * Themes
 ******************************************************************************/

:root {
  --global-bg-color: #{$white-color}; /* Light theme background (Green) */
  --global-code-bg-color: #{$code-bg-color-light}; /* Light theme code background */
  --global-text-color: #000000; /* Light theme text color set to black */
  --global-text-color-light: #{$grey-color}; /* Light theme light text color */
  --global-theme-color: orange; /* Light theme primary color (Orange) */
  --global-hover-color: orange; /* Light theme hover color (Orange) */
  --global-hover-text-color: #{$black-color}; /* Light theme hover text color */
  --global-footer-bg-color: #{$grey-color-dark}; /* Light theme footer background */
  --global-footer-text-color: #{$grey-color-light}; /* Light theme footer text color */
  --global-footer-link-color: #{$black-color}; /* Light theme footer link color */
  --global-distill-app-color: #{$grey-color}; /* Light theme app color */
  --global-divider-color: rgba(0,0,0,.1); /* Light theme divider color */
  --global-card-bg-color: #{$black-color}; /* Light theme card background */

  --global-tip-block: green; /* Light theme tip block color (Green) */
  --global-tip-block-bg: #e2f5ec; /* Light theme tip block background */
  --global-tip-block-text: #215d42; /* Light theme tip block text color */
  --global-tip-block-title: #359469; /* Light theme tip block title color */
  --global-warning-block: #e7c000; /* Light theme warning block color */
  --global-warning-block-bg: #fff8d8; /* Light theme warning block background */
  --global-warning-block-text: #6b5900; /* Light theme warning block text color */
  --global-warning-block-title: #b29400; /* Light theme warning block title color */
  --global-danger-block: #c00; /* Light theme danger block color */
  --global-danger-block-bg: #ffe0e0; /* Light theme danger block background */
  --global-danger-block-text: #600; /* Light theme danger block text color */
  --global-danger-block-title: #c00; /* Light theme danger block title color */

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }
}


html[data-theme='dark'] {
  --global-bg-color: #212121; /* Dark theme background (Dark Orange) */
  --global-code-bg-color: #{$code-bg-color-dark}; /* Dark theme code background */
  --global-text-color: #ffa500; /* Dark theme text color (Orange) */
  --global-text-color-light: #ffa500; /* Dark theme light text color (Orange) */
  --global-theme-color: #ffa500; /* Dark theme primary color (Orange) */
  --global-hover-color: #ffa500; /* Dark theme hover color (Orange) */
  --global-hover-text-color: #{$white-color}; /* Dark theme hover text color */
  --global-footer-bg-color: #212121; /* Dark theme footer background (Dark Orange) */
  --global-footer-text-color: #ffa500; /* Dark theme footer text color (Orange) */
  --global-footer-link-color: #{$black-color}; /* Dark theme footer link color */
  --global-distill-app-color: #ffa500; /* Dark theme app color (Orange) */
  --global-divider-color: #424246; /* Dark theme divider color */
  --global-card-bg-color: #{$grey-900}; /* Dark theme card background */

  --global-tip-block: green; /* Dark theme tip block color (Green) */
  --global-tip-block-bg: #e2f5ec; /* Dark theme tip block background */
  --global-tip-block-text: #215d42; /* Dark theme tip block text color */
  --global-tip-block-title: #359469; /* Dark theme tip block title color */
  --global-warning-block: #e7c000; /* Dark theme warning block color */
  --global-warning-block-bg: #fff8d8; /* Dark theme warning block background */
  --global-warning-block-text: #6b5900; /* Dark theme warning block text color */
  --global-warning-block-title: #b29400; /* Dark theme warning block title color */
  --global-danger-block: #c00; /* Dark theme danger block color */
  --global-danger-block-bg: #ffe0e0; /* Dark theme danger block background */
  --global-danger-block-text: #600; /* Dark theme danger block text color */
  --global-danger-block-title: #c00; /* Dark theme danger block title color */

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}
